.footer-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.ibb.co/Jp7QwLs/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
