.footer-bg {
  background-image: linear-gradient(
      rgba(189, 50, 50, 0.2),
      rgba(129, 119, 119, 0.2)
    ),
    url("https://i.ibb.co/0c5JsJk/Screenshot-2023-11-21-002649.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
